<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA playoffs</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='nba.ico') }}">
</head>

<body>
    {{ name }}
    {{ post_id }}

    <script type="text/javascript" src="../static/script.js"></script>
</body>

</html>